<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Efaceless</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}" />
</head>
<body class="bg">
</body>
</html>